
<div>
<form ng-submit="ctrl.submitDetails()">
   <div class="container">
       <div class="head">
           <h2>User Details</h2>
       </div>
       <input type="text" id="input-name" placeholder="First Name" ng-model="ctrl.userDetail.firstName" />

       <input type="text" id="input-lastName" placeholder="Last Name" ng-model="ctrl.userDetail.lastName" />

       <input type="text" id="input-Mi" placeholder="Middle Initial" ng-model="ctrl.userDetail.mI" />

       <input type="text" id="input-suffix" placeholder="Suffix" ng-model="ctrl.userDetail.suffix" />

       <input type="text" id="input-suffix" placeholder="Address" ng-model="ctrl.userDetail.address" />

       <input type="text" id="input-suffix" placeholder="City" ng-model="ctrl.userDetail.city" />

       <input type="text" id="input-suffix" placeholder="State" ng-model="ctrl.userDetail.state" />

       <input type="text" id="input-suffix" placeholder="Zip" ng-model="ctrl.userDetail.zip" />
       <div>
           <input type="submit" value="Submit" id="input-submit">
       </div>
   </div>
</form>
<div>
